<%=form_tag root_path, :method => 'get' do %>
  <p>依年度篩選
    <%= select_year(Date.today,:start_year => Date.today.year, :end_year =>2010) %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <%# binding.pry%>
<% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:12em;">分類</th>
        <th style="width:12em;">日期</th>
        <th style="width:15em;">組別</th>
        <th>記事內容</th>
        <th style="width:4em;">年度大事</th>
        <th style="width:4em;">網頁隱藏</th>
        <th style="width:6em;"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event|%>
        <tr>
        <td><%=event.category.name%></td>
        <td>
          <% date_b = event.date_begin %>
          <% date_e = event.date_end %>
          <%= datemach(date_b,date_e) %>
        </td>
        <td>
          <% i = 1 %>
          <% event.departments.each do |depart| %>
            <% if i == event.departments.length %>
              <%= depart.name %>
              <% else %>
              <%= depart.name %>、
            <% end %>
            <% i+=1 %>
          <% end %>
        </td>
        <td><%=raw event.content%></td>
        <%= form_for(event) do |f| %>
        <td><%= f.check_box :great, disabled: true %></td>
        <td><%= f.check_box :privacy, disabled: true %></td>                  
        <td>
          <%= link_to '顯示', event_path(event) %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
    </table>
    <%= paginate @events %>


