<p id="notice"><%= notice %></p>
  <%= link_to '新增', new_event_path %>


  <% @categories.each do |cat|%>
    <h2><%= cat.name %></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>日期</th>
          <th>組別</th>
          <th>記事內容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cat.events.each do |event|%>
        <tr>
          <td>
            <% date_b = event.date_begin %>
            <% date_e = event.date_end %>
            <%= datemach(date_b,date_e) %>
          </td>
          <td>
            <% i = 1 %>
            <% event.departments.each do |depart| %>
              <% if i == event.departments.length %>
                <%= depart.name %>
                <% else %>
                <%= depart.name %>、
              <% end %>
              <% i+=1 %>
            <% end %>
          </td>
          <td>
            <%= event.content %>
            <%#= event.great %>
            <%#= event.privacy %>
          </td>
          <td>
            <%= link_to '顯示', event_path(event) %>
            <%= link_to '編輯', edit_event_path(event) %>
            <%= link_to '删除', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
     
<%# binding.pry%>
